<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../assets/connectionsStyle.css" />
        <title>Connections</title>
    </head>
    <body>
        <%- include ('partials/header.ejs') %> <%- include ('partials/Navigation.ejs') %>

        <p></p>
        <h3>Learn</h3>
        <%for(var i=0; i < connections.length;i++){ %> <% if(connections[i].topic == "learn"){%>
        <a href="connection/<%=i+1%>"><%=connections[i].name%></a> <br />
        <%} %> <%} %>
        <h3>Events</h3>
        <%for(var i=0; i < connections.length;i++){ %> <%if(connections[i].topic == "events"){%>
        <a href="connection/<%=i+1%>"><%=connections[i].name%></a> <br />
        <%}%> <%} %>
    </body>

    <%- include ('partials/footer.ejs') %>
</html>
