<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/savedConnectionsStyle.css">
    <title>Saved Connections</title>
</head>
<body>

  <%- include ('partials/header.ejs') %>

  <%- include ('partials/Navigation.ejs') %>

  <div class = "savedEvents">
    <h3>Your Saved Events:</h3>
      <table id="connectionTable">
        <%
        if (typeof connection != 'undefined'){  %>
          <tr>
              <td><%= connection.name %></td>
              <td><%= connection.topic%></td>
              <td>Yes</td>
              <td> <button type="button" onclick="document.location='connection.html'">Update</button> <button type="button" onclick="document.location='savedConnections.html'">Delete</button> </td>
          </tr>
          
          <%} else{ %>
          <p>No connections yet</p>

          </tr>

          <%} %>
      </table>
  </div>
</body>

<%- include ('partials/footer.ejs') %>

</html>
